body{
  background-color: #FAE9E5;
  font-family: 'Figtree', sans-serif;
}

form{
  max-width: 500px;
  margin: auto;
}

form > div{
  display: flex;
  flex-direction: column;
  margin: 36px 0;
}

input, textarea{
  font-family: 'Figtree', sans-serif;
  margin-top: 4px;
  border-radius: 0.375rem;
  padding: 8px;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

input:focus, textarea:focus{
  outline: none;
  border-color: #E38C77;
}

header{
  max-width: 500px;
  margin: 128px auto 0; 
}

h1{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
}
p{
  margin-top: 12px;
  font-weight: 300;
  line-height: 28px;
}

button{
  font-family: 'Figtree', sans-serif;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-color: #E38C77;
  border: 1px solid #E38C77;
  color: #000;
}

.thankyou{
  max-width: 500px;
  margin: 128px auto 0; 
  text-align: center;
}

img{
  width:100%;
}
.polaroid{
  margin-top: 24px;
  background-color: white;
  padding: 15px 15px 40px 15px;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

@media (max-width: 640px) { 
    body{
      padding: 0px 16px; 
    }
    header, .thankyou{
      margin: 64px auto 0; 
    }
    h1{
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 0;
    }
    p{
      margin-top: 12px;
      font-weight: 300;
      line-height: 20px;
      font-size: 12px;
    }
 }